#hngmnimg {
    width: 500px;
}

body{
    background-color: black;
}

h2, h1{
    color: red;
}

h3{
    color: white;
}

p {
    color: red;
}

#keyboard{
    color: red;
}

#keyboard2{
    color: gold;
    font-family: fantasy;
    font-weight: bold;
    font-size: xx-large;
}

.float-right{
    color:red;
}